﻿@model IEnumerable<web_module.tblDownload>

@{
    ViewBag.Title = "Index";
}

<style>
    .full {
        width: 100%;
        height: 100%;
    }

    .full-iframe {
        min-height: 500px;
    }
</style>

<h2>Downloads</h2>


<div class="col-md-12">
    <div class="">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Id)</th>
                    <th>@Html.DisplayNameFor(model => model.fileName)</th>
                    <th>@Html.DisplayNameFor(model => model.status)</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr data-item="@Json.Encode(item)" id="rowID-@Html.DisplayFor(modelItem => item.Id)">
                        <th>@Html.DisplayFor(modelItem => item.Id)</th>
                        <td>@Html.DisplayFor(modelItem => item.fileName)</td>
                        <td id="rowStatus">
                            @Html.DisplayFor(modelItem => item.status)
                        </td>
                        <td>
                            <!-- Button trigger modal -->
                            <button class="btn btn-info" data-toggle="modal" data-target="#viewFile" onclick="viewFile(this)"> view </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="viewFile" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <input type="hidden" id="modal-file-id" value="" />
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="fileAction('cancel')">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="modal-filename">...</h4>
                </div>
                <div class="modal-body" id="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success btn-modal" onclick="fileAction('Accepted')">Accept</button>
                    <button type="button" class="btn btn-danger btn-modal" onclick="fileAction('Declined')">Decline</button>
                    <button type="button" class="btn btn-primary btn-modal" onclick="fileAction('cancel')" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script> 
    function viewFile(element) {
        const prefix = 'http://127.0.0.1:8887/'
        const tableRow = $(element).parents('tr')
        const data = tableRow.data('item')

        $('#modal-body').html(loadViewer(data.fileName, prefix))
        $('#modal-filename').text(data.fileName)
        $('#modal-file-id').val(data.Id)
    }

    function fileAction(action = 'Accepted') {
        if (action !== 'cancel') {
            const id = $('#modal-file-id').val()
            const row = $(`#rowID-${id}`)

            $.ajax({
                url: '/api/DownloadsApi/',
                dataType: 'json',
                type: 'post',
                contentType: 'application/json',
                data: JSON.stringify({ ...row.data('item'), status: action }),                
                error: failedRequest,
                success: function (data, status, jQxhr) {
                    row.find('#rowStatus').text(action)
                    cleanModal()
                },
            });
        }

        cleanModal()
    }

    function cleanModal() {
        $('#viewFile').modal('hide')
        $('#modal-body').html('')
        $('#modal-file-id').val('')
    }

    function failedRequest(jQxhr, status, message) {        
        alert('Something went wrong!')
        cleanModal()
    }

    function loadViewer(name, prefix) {
        if ((/\.(gif|jpg|jpeg|tiff|png)$/i).test(name)) {
            return `<img src="${prefix}${name}" alt="${name}" class="full" />`
        }

        else if ((/\.(mp3|mov|mpg|mp4|flv|avi|mpeg4|mkv|mpeg|mpg2|.wav)$/i).test(name)) {
            return `
                <video controls class="full">
                    <source src="${prefix}${name}" type="video/mp4">
                    <source src="${prefix}${name}" type="video/ogg">
                    Your browser does not support the video tag.
                </video>
            `
        }

        else {
            return ` <iframe src="${prefix}${name}" class="full full-iframe"></iframe> `
        }
    }
</script>